$xtxColor: #4b9cff;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;

$BaseFontSize: 20px;

$navFontSize: 20px;
$HomeTitleFontSize: 60px;
$HomeContentDetailFontSize: 25px;
$HomeTitleButtonFontSize: 20px;
$HomeDatabaseTitleFontSize: 30px;
$HomeDatabaseContentFontSize: 20px;
$HomeDatabaseButtonFontSize: 20px;

$AsideMenuItemSize: 20px;

$DownloadTitleFontSize: 25px;
